<div class="row">
    <div class="col-xl-3 col-md-6">
        <app-card-view-details  [menuName]="'DashBoard'"  background="bg-primary"><div class="card-body">DashBoard</div>
        </app-card-view-details>
    </div>
<!--    <div class="col-xl-3 col-md-6">-->
<!--        <app-card-view-details link="/dashboard" [menuName]="'support'" background="bg-warning"><div class="card-body">Support</div></app-card-view-details>-->
<!--    </div>-->
<!--    <div class="col-xl-3 col-md-6">-->
<!--        <app-card-view-details link="/dashboard" [menuName]="'calendar'" background="bg-success"><div class="card-body">CalendarSchema</div></app-card-view-details>-->
<!--    </div>-->
<!--    <div class="col-xl-3 col-md-6">-->
<!--        <app-card-view-details link="/dashboard" background="bg-danger"><div class="card-body">Danger Card</div></app-card-view-details>-->
<!--    </div>-->
</div>


